@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Kaushan+Script:wght@400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



* {
  box-sizing: border-box;
}

@theme {
  --color-prim: #85d200;
  --color-secondary: #066168;
  --color-yellow: #FFAA0D;
  --color-yellow-light: #fef9eb;

  /* font family  */
  --font-poppins: "Poppins", sans-serif;
  --font-afacad: "Afacad", sans-serif;
  --font-figtree: "Figtree", sans-serif;
  --font-kaushan: "Kaushan Script", serif;
}

body {
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-afacad);
}

p {
  font-family: var(--font-figtree);
}

a:not(.logo) {
  font-family: var(--font-figtree);
}

.social-icon:hover svg {
  animation: rotae-scale-up-ver 0.65s linear both;
}

@keyframes rotae-scale-up-ver {
  0% {
    transform: scale(1) rotateY(0deg);
  }

  50% {
    transform: scale(2) rotateY(180deg);
  }

  100% {
    transform: scale(1) rotateY(360deg);
  }

}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-prim);
  border-radius: 10px;
}

.bg-overlay {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2)
}

.hero-title {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  animation: slide-left 5s linear infinite alternate-reverse both;
  text-shadow: 6px 18px 2px rgba(0, 0, 0, 0.2);
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-30px);
  }
}

.pera-text {
  font-style: italic;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 28px;
}

.main-btn {
  outline: none;
  color: #000;
  font-weight: 500;
  padding: 15px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
  background-color: var(--color-prim);
  border: none;
  font-size: 18px;
  transition: 0.5s all ease;
  white-space: nowrap;
  border-radius: 50px;
}

.main-btn:hover {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.main-btn::after {
  background: #fff;
  content: "";
  height: 160px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  left: -30px;
}

.main-btn:hover::after {
  opacity: 0.6;
  left: 200%;
}